:root {
  --p1: #991d18;
  --p2: #791d38;
  --p3: #591d58;
  --p4: #391d78;
  --p5: #191d98;
  --site-blue: #3f51b5;
  --site-black: #393634;
  --site-white: #edeee0;
  --site-red: #d83a2f;
  --site-writing: "Shadows Into Light", cursive;
  --trippy-blues-1: #2c0ef0;
  --trippy-blues-2: #b300ff;
  --trippy-blues-3: #6751f0;
  --trippy-blues-4: #ff006f;
  --trippy-blues-5: #8119ff;
  --axis-light: ;
  /* --trippy-reds-1: #;
  --trippy-reds-2: #;
  --trippy-reds-3: #;
  --trippy-reds-4: #;
  --trippy-reds-5: #; */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Merriweather", serif;
  color: var(--site-black);
  background-color: var(--site-white);
  scroll-behavior: smooth;
}

.blue {
  color: var(--site-blue);
}
.red {
  color: var(--site-red);
}

/* #hero-container {
  border-bottom: solid 3px var(--site-black);
  background-color: var(--site-black);
} */

.tooltip {
  position: absolute;
  display: none;

  background: var(--site-white);
  border-radius: 3px;
  box-shadow: -3px 3px 15px var(--site-black);
  color: var(--site-black);
  padding: 6px;
}

#year-count-container,
#song-count-container,
#count-title-container {
  width: 100%;
  height: 100%;
}
#year-count,
#song-count {
  position: fixed;
  right: 10%;
  height: 100px;
}

#count-title-container h3 {
  margin-bottom: 0;
  text-align: center;
}
#year-count {
  top: 25%;
}
#song-count {
  top: 40%;
}

#hero-text,
#section-title {
  text-align: center;
  color: var(--site-black);
  padding: 1em 0em;
  width: 100%;
  font-size: 1.2em;
  margin: auto;
  margin-top: 0.3em;
  font-family: "Merriweather", serif;
}

#hero-text {
  font-size: 2.4em;
  /* max-width: 60%; */
  margin: auto;
  width: 70%;
  padding: 0;
  min-width: 300px;
  max-width: 550px;
}

#section-title {
  font-size: 2em;
  margin-top: 3em;
}
#hero img {
  width: 100%;
  height: auto;
}

#hero .title {
  font-family: var(--site-writing);
  margin: auto;
}

#hero-text p,
#section-title p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--site-writing);
}

.years-lead-in {
  background-color: var(--p2);
  color: var(--site-white);
  padding: 1em;
  text-align: center;
}

.years-lead-in h3 {
  font-size: 2em;
}

.bold {
  font-family: "Roboto", sans-serif;
}

.explainer-text ul li {
  line-height: 2.2em;
}

.explainer-text blockquote,
.explainer-text p,
.explainer-text h3,
.explainer-text ul {
  max-width: 650px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 1.8em;
}

.explainer-text blockquote {
  max-width: 500px;
  font-size: larger;
}

.explainer-text a {
  color: var(--site-black);
}

.explainer-text h3 {
  margin: 0 0 0 0;
  text-align: center;
}

#timeline-container {
  position: relative;
  width: 10%;
  max-width: 100px;
  /* min-height: 100%; */
  visibility: hidden;
}

#container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 10%;
  margin: auto;
}

#timeline-container div {
  margin: 0 0.3em;
  border-left: solid 6px var(--site-black);
  background: rgba(25, 29, 152, 0.44);
  background: -moz-linear-gradient(
    left,
    rgba(25, 29, 152, 0.44) 0%,
    rgba(230, 231, 222, 0.38) 92%,
    rgba(237, 238, 224, 0.38) 95%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(25, 29, 152, 0.44)),
    color-stop(92%, rgba(230, 231, 222, 0.38)),
    color-stop(95%, rgba(237, 238, 224, 0.38))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(25, 29, 152, 0.44) 0%,
    rgba(230, 231, 222, 0.38) 92%,
    rgba(237, 238, 224, 0.38) 95%
  );
  background: -o-linear-gradient(
    left,
    rgba(25, 29, 152, 0.44) 0%,
    rgba(230, 231, 222, 0.38) 92%,
    rgba(237, 238, 224, 0.38) 95%
  );
  background: -ms-linear-gradient(
    left,
    rgba(25, 29, 152, 0.44) 0%,
    rgba(230, 231, 222, 0.38) 92%,
    rgba(237, 238, 224, 0.38) 95%
  );
  background: linear-gradient(
    to right,
    rgba(25, 29, 152, 0.44) 0%,
    rgba(230, 231, 222, 0.38) 92%,
    rgba(237, 238, 224, 0.38) 95%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191d98', endColorstr='#edeee0', GradientType=1 );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191d98', endColorstr='#edeee0', GradientType=1 );
  border-color: var(--p5);
  width: 67px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#timeline-container span {
  padding-left: 0.5em;
}

.lead div.scroll-padding-div {
  min-height: 100px;
  max-height: 100px;
}

.scroll-padding-div {
  min-height: 400px;
}

#graph {
  margin-left: 40px;
  width: 50%;
  margin: auto;
  position: sticky;
  top: 0px;
  float: right;
}

.career-chart-container,
.career-radial-bar,
.career-radial-bar-container {
  width: 100vw;
  margin: auto;
  height: 100vh;
}
div.career-chart-container {
  width: 850px;
  margin: auto;
}
/* .career-scroll .career-radial-bar-container {
  width: 450px;
} */
#career-chart-container p {
  text-align: center;
}

.career-radial-bar-container .axis {
  font-size: 2.3mm;
  font-style: normal;
}

#career-radial-title,
#count-title-container,
#song-chart-title {
  position: fixed;
  top: -5%;
  left: 0%;
  font-size: 1.2em;
  visibility: hidden;
}
div#career-radial-title {
  left: 35%;
}

.career-container {
  margin: auto;
  background-color: var(--site-white);
  margin-top: 3em;
}

ol li {
  background: rgb(44, 14, 240);
  background: radial-gradient(
    circle,
    rgba(44, 14, 240, 0.23993347338935578) 0%,
    rgba(237, 238, 224, 0.041053921568627416) 71%
  );
}

ol,
ol li {
  padding: 0;
}

ol li {
  height: 300vh;
}

.career-scroll {
  position: sticky;
  top: 50px;
}

.scroller-div {
  min-height: 200vh;
}

#sections {
  height: 100%;
  position: absolute;
  padding: 0, 5%;
  left: 10%;
  width: calc(100vw - 375px - 10%);
}

#sections > div {
  height: 135%;
  width: 95%;
  margin-left: 3%;
}

#sections div.graph-scroll-active {
  opacity: 1;
}

.bubble-fixed {
  position: fixed;
}

.active-top-ten {
  width: 350px;
  text-align: center;
  padding: 1em 0;
  text-decoration: underline;
  display: none;
}

.bubble-fixed,
.bar-fixed {
  width: 280px;
  color: var(--p2);
}

.me {
  width: 650px;
  margin: auto;

  margin: auto;
  font-family: "Roboto", sans-serif;
}

.me p,
.me a {
  color: var(--site-black);
  opacity: 0.8;
  margin-top: 0;
}

.bar-fixed {
  position: fixed;
  right: 0%;
}

p.drop-letter::first-letter {
  font-size: 3em;
  float: left;
  margin-top: -0.15em;
  font-family: "Roboto", sans-serif;
  color: var(--p1);
}

.content {
  display: grid;
  grid-template-columns: 100px 1fr 50px 1fr 1fr;
  grid-template-rows: 50px 30vh 30vh 200px 1fr;
  min-height: 100vh;
}
.active-container,
.inactive-container {
  width: 200px;
  text-align: center;
}

.inactive-container img {
  max-height: 200px;
}

.active-song {
  display: flex;
  justify-content: space-around;
}
.active-year {
  /* width: 200px;
  margin: auto;
  padding: 1em 0;
  text-decoration: underline; */
  display: none;
}

circle::before {
  fill: var(--site-white);
}

/* .unsetContent, */
.scroll-trigger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15vh;
}

.scroll-trigger h4 {
  font-family: "Roboto", sans-serif;
}

.axis path,
.axis line {
  fill: none;
  display: none;
}

.axis {
  font-size: 0.6em;
  font-family: "Roboto", sans-serif;
}

#hero {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 6em;
  margin-top: 0.5em;
  color: var(--p1);
  text-align: center;
  font-family: "Bungee Outline", cursive;
}

.full-height p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2em;
  color: var(--p5);
}

.twitter {
  max-width: 600px;
  margin: auto;
  padding-right: 1em;
  text-align: right;
}

.full-height a {
  color: var(--p5);
}

.title h4 {
  font-family: "Shadows Into Light", cursive;
  color: var(--site-white);
  font-size: 0.5em;
}

.title h4,
.title h3 {
  margin-bottom: 0;
  margin-top: 0;
}

.img div {
  height: inherit;
  max-height: 60vh;
  overflow: hidden;
}

.debut-links {
  background: #efefef;
  padding: 0 0 1em 30px;
  border-top: solid 1px #8080806b;
}

.debut-links h5 {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

.debut-box {
  color: var(--site-black);
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

.larger {
  width: 2em;
  font-size: larger;
  color: var(--p5);
  margin-right: 1em;
}

.explainer-text h3 {
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
}

.card-container {
  border: solid 1px #39363430;
  box-shadow: 2px 2px 10px #39363422;
}

/* radial bar chart styles */
#career-radial-bar path .arc,
#radial-bar path.arc {
  opacity: 0.9;
  transition: opacity 0.5s;
}

#career-radial-bar {
  max-width: 850px;
  margin: auto;
}
/* #career-radial-bar svg#radial-chart-svg {
  transform: translate(135px, 220px);
} */
#career-radial-bar path .arc:hover,
#radial-bar path.arc:hover {
  opacity: 0.7;
}
#career-radial-bar .axis line,
#career-radial-bar .axis circle,
#radial-bar .axis line,
#radial-bar .axis circle {
  stroke: #cccccc;
  stroke-width: 1px;
}
#radial-bar .axis circle {
  fill: none;
}

#radial-bar {
  margin: 0 1em;
}

.radial-text {
  font-size: 0.8em;
  fill: var(--site-black);
  fill-opacity: 1;
  font-style: italic;
}
#career-radial-bar .r.axis text,
#radial-bar .r.axis text {
  text-anchor: end;
  fill: var(--site-black);
  padding-bottom: 0;
  margin-bottom: 0;
}

#radial-bar .radial-text {
  display: none;
}

#modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #9e9d94cc;
  z-index: 10;
  display: none;
}

.modal-data {
  padding: 0.5em 3em;
  background-color: var(--p2);
  margin: auto;
  color: var(--site-white);
  font-family: "Roboto", sans-serif;
}
.modal-data h3 {
  font-size: 1.3em;
  text-transform: uppercase;
}

#modal {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -5%);
  height: 80%;
  width: 90%;
  max-width: 600px;
  /* margin: auto; */
  background-color: var(--site-white);
  z-index: 100;
  display: none;
  box-shadow: 5px 5px 20px;
}

#modal-content {
  height: 100%;
  margin-bottom: 2em;
}

#modal-content svg path {
  /* stroke: var(--site-white); */
  stroke-width: 4px;
}

#modal .xaxis,
#modal .yaxis {
  color: var(--p4);
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}

#modal-content button {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 75px;
  height: 40px;
  border-radius: 10px;
  font-size: larger;
  color: var(--site-white);
  border: solid 2px var(--site-white);
  background-color: #991d1800;
  cursor: pointer;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}

#modal-content .bolt {
  width: 14%;
  position: absolute;
  top: 36px;
  left: 21px;
  z-index: 100;
}
#modal .annotation-note-content {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

#modal svg .annotation.badge .annotation-subject path {
  fill: var(--p3);
  stroke-width: 0px;
  stroke-dasharray: none;
}

#modal .annotation path {
  stroke: var(--annotation-badge-color);
}

rect.annotation-note-bg {
  fill: var(--site-white);
  fill-opacity: 0.8;
}

text.annotation-note-label,
text.annotation-note-title {
  fill: var(--site-black);
  font-size: 0.3em;
}

#bubble-chart svg .annotation-note {
  transform: translate(83, 63);
}

#bubbleChart #background-circle {
  display: none;
}

#radial-bar rect {
  display: none;
}

path.connector {
  stroke: var(--p1);
}

path.note-line {
  stroke: var(--p1);
}

div.lead {
  margin-top: 0;
}

.stealie-absolute {
  max-width: 850px;
  width: 500px;
  height: 600px;
  opacity: 0.9;
  z-index: -1;
  position: absolute;
  top: 0px;
}

.career-chart-container .stealie-absolute {
  margin-left: 176px;
}

.scroller-text {
  width: 40%;
  position: absolute;
  left: 56%;
}

.scroller-text div {
  background: var(--site-white);
  opacity: 0.9;
  max-width: 500px;
  padding: 0.7em;
  margin-top: 7em;
}

.scroller-text p {
  padding: 0.5em 1em;
  margin-top: 1em;
}

mark {
  background-color: #e4a4ff;
}

.img-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.img-container img {
  width: 100%;
}

.year-tick {
  font-family: "Roboto", sans-serif;
}
